@font-face {
  font-family: 'Lato', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div#container {
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

div#header {
  background-color: #FFF;
  height: 200px;
}

div#logo {
  width: 768px;
  margin: 0 auto;
  padding: 0;
  height: 125px;
}

div#menu-container {
  height: 50px;
  line-height: 50px;
  background-color: #518c52;
}

.top-bar {
  width: 768px;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  background-color: #518c52;
}
.top-bar ul {
  line-height: 50px;
  height: 50px;
}
.top-bar ul li {
  display: inline-block;
  float: left;
  width: 75px;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  text-align: center;
  height: 50px;
  background-color: #518c52;
}
.top-bar ul li a {
  font-size: 18px;
  color: #FFF;
}
.top-bar ul li.has-dropdown ul {
  top: 0;
  display: none;
}
.top-bar ul li.has-dropdown:hover ul {
  display: block;
}
.top-bar ul li:hover {
  height: 50px;
  background-color: #3e713f;
}
.top-bar ul .dropdown {
  width: 100px;
  margin: 0;
  padding: 0;
}
.top-bar ul .drop {
  width: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

div#content {
  width: 768px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}
div#content .row {
  padding-bottom: 5px;
  margin: 0;
  max-height: 60px;
}
div#content .row .testBox {
  max-height: 60px;
  margin: 0;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 5px;
}

#login {
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

#loginButton {
  background-color: #518c52;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}

#loginButton:hover {
  background-color: #3e713f;
}
